
<div class="panel panel-default col-md-6">
  <div class="panel-body panel_accent">
  </div>
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
  <div class="panel-body panel_accent">
  </div>
</div><!-- / panel -->
<div class="col-md-6">
  <%= button_to 'Back', "/", method: "get", class: "btn btn-success" %>
</div>