
<div class="col-sm-6">
  <div class="panel panel-info">
    <div class="panel-body">
      <p>Thank you. We have received your message and will respond as soon as possible.</p>
    </div><!-- / panel-body -->
  </div>
</div>

<div class="col-sm-12">
  <%= button_to 'Back', "/", method: "get", class: "btn btn-primary" %>
</div>