<h1>Editing user</h1>

<%= render 'form' %>

<div class="col-sm-12">
  <%= link_to 'Show', @user, type: "button", class: "btn btn-default" %>
  <%= link_to 'Back', users_path, type: "button", class: "btn btn-default" %>
</div>