<h1>Editing user</h1>

<%= render 'form' %>

<div class="col-sm-12">
  <%= button_to 'Show', @user, method: "get", class: "btn btn-default" %>
  <%= button_to 'Back', users_path, method: "get", class: "btn btn-default" %>
</div>