// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.navbar {
  border-bottom: 1px solid #eee;
}

.navbar a, h1, h2, .site-footer p{
  color: #34495e;
}

.static-page {
  padding-top: 50px;
}

h1 {
  font-style: italic;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  font-size: 2em;
}

h1, h2, .product_table th, a, .site-footer p {
  margin: 0;
  padding: 15px 0 0 15px;
} 

a, a:visited, a:hover {
  color: #ff0000;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.site-footer, .page-wrap:after {
  height: 50px; 
  border-top: 1px solid #eee;
}

