// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

/**** Navigation bar ****/

.navbar {
  border-bottom: 1px solid #eee;
}

/**** Products page ****/

.static-page {
  padding-top: 50px;
}

h1, .container-fluid {
  margin: 0px 15px 0px 15px;
}

.edit_product, .new_product, .static-page a, .item_show {
  margin-left: 15px;
}

h1, .static-page a, .item, .site-footer p, .edit_product, .new_product, .item_show {
  padding: 15px 30px 0 30px;
} 

h1, h2 {
  margin-top: 0;
}

.img-responsive {
  max-height: 150px;
  border: 1px solid gray;
  padding: 15px;
}

/**** Footer ****/

.site-footer, .page-wrap:after {
  height: 50px; 
  border-top: 1px solid #eee;
}

/*Typography*/

.navbar a, .form-group, h1, .site-footer p{
  color: #34495e;
}

h1, h2, .form-group label {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

.description {
  color: gray;
}

.price {
  color: #78c042;
}

.static-page a, .static-page a:visited, .static-page a:hover {
  color: red;
}

.static-page a, .static-page a:visited, .static-page a:hover, .navbar-nav li a, .navbar-nav li a:visited, .navbar-nav li a:hover, .navbar-nav li a:focus {
  text-decoration: none;
  background-color: transparent;
}