
<h1>Editing product</h1>

<%= render 'form' %>

<div class="col-sm-6">
  <%= button_to 'Show', @product, method: "get", type: "button", class: "btn btn-default" %>
  <%= button_to 'Back', products_path, method: "get", type: "button", class: "btn btn-default" %>
</div>
