<h1>Editing product</h1>

<%= render 'form' %>

  <%= button_to 'Show', @product, method: "get", class: "btn btn-success" %>
  <%= button_to 'Back', products_path, method: "get", class: "btn btn-success" %>
