<h1>Products available:</h1>

<%# paragraph_number = 1 %>
<%# 5.times do %>
  <!-- <p>This is paragraph number <%# paragraph_number %></p> 
  <%# paragraph_number = paragraph_number + 1 %> -->
<%# end %>
<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>
<%= will_paginate @products %>
<br>

<div class="col-sm-12">
  <%= link_to 'New Product', new_product_path, type: "button", class: "btn btn-default" %>
</div>